apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: insurance-peer0
  namespace: insurance-net
  annotations:
    fluxcd.io/automated: "false"
spec:
  releaseName: insurance-peer0
  chart:
    git: ssh://git@github.com/kawthers/blockchain-automation-framework.git
    ref: develop
    path: platforms/hyperledger-fabric/charts/peernode    
  values:
    metadata:
      namespace: insurance-net
      images:
        couchdb: couchdb:3.1
        peer: hyperledger/fabric-peer:2.2.0
        alpineutils: index.docker.io/wmcgroup777/alpine-utils:1.0
        
    peer:
      name: peer0
      gossippeeraddress: peer0.insurance-net:9051
      gossipexternalendpoint: peer0.insurance-net.ambassador1.bfs-network.name:8443
      localmspid: insuranceMSP
      loglevel: info
      tlsstatus: true
      builder: hyperledger/fabric-ccenv:2.2.0
      couchdb:
        username: insurance-user

    storage:
      peer:
        storageclassname: insurancesc
        storagesize: 512Mi
      couchdb:
        storageclassname: insurancesc
        storagesize: 1Gi

    vault:
      role: vault-role
      address: https://vault.bfs-network.name:8200
      authpath: insurance-net-auth
      secretprefix: secret/crypto/peerOrganizations/insurance-net/peers/peer0.insurance-net
      secretambassador: secret/crypto/peerOrganizations/insurance-net/ambassador
      serviceaccountname: vault-auth
      imagesecretname: regcred
      secretcouchdbpass: secret/credentials/insurance-net/couchdb/insurance?user

    service:
      servicetype: ClusterIP
      ports:
        grpc:
          clusteripport: 9051
        events:
          clusteripport: 7053
        couchdb:
          clusteripport: 5984
          
    proxy:
      provider: haproxy
      external_url_suffix: ambassador1.bfs-network.name
